<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.czd.kotlinone">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/aicon"
        android:label="苹果矮密栽培技术"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OpenActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".Main2Activity"
            android:theme="@style/Mystyle" />
        <activity android:name=".ShowActivity" />
        <activity android:name=".SubPageActivity" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" />
        <activity android:name=".ShowTieActivity" />
        <activity android:name=".HuiFuActivity" />
        <activity android:name=".FatieActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".QuesmeActivity" />
        <activity android:name=".ShowQuesmeActivity" />
        <activity android:name=".SearchingActivity" />
        <activity android:name=".RecordActivity" />
        <activity android:name=".RecordShowActivity"></activity>
    </application>

</manifest>